<h3>Create a new article</h3>
<%= form_for @news do |f| %>
<%= f.label :title, 'Title' %>
<%= f.text_field :title %>
<%= f.label :content, 'Content' %>
<%= f.text_area :content %>
<%= f.label :file %>
<%= f.file_field :file %>
<%= f.submit 'Submit', class: 'button inc' %>
<% end %>
