<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title><%= content_for?(:title) ? yield(:title) : "TFZ" %></title>

        <%= stylesheet_link_tag    "application" %>
        <%= stylesheet_link_tag    "global.css" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "java/FWDUVPlayer.js" %>
        <%= csrf_meta_tags %>

        <script type="text/javascript">
			FWDUVPUtils.onReady(function(){

				new FWDUVPlayer({
					//main settings
					useYoutube:"yes",
					useVimeo:"no",
					instanceName:"player1",
					parentId:"myDiv",
					playlistsId:"playlists",
					mainFolderPath:"assets",
					skinPath:"minimal_skin_dark",
					displayType:"responsive",
					fillEntireVideoScreen:"no",
					useHEXColorsForSkin:"no",
					normalHEXButtonsColor:"#FF0000",
					selectedHEXButtonsColor:"#000000",
					useDeepLinking:"yes",
					rightClickContextMenu:"developer",
					addKeyboardSupport:"yes",
					autoScale:"yes",
					showButtonsToolTip:"yes",
					stopVideoWhenPlayComplete:"no",
					autoPlay:"no",
					loop:"no",
					shuffle:"no",
					maxWidth:980,
					maxHeight:552,
					buttonsToolTipHideDelay:1.5,
					volume:.8,
					backgroundColor:"#000000",
					videoBackgroundColor:"#000000",
					posterBackgroundColor:"#000000",
					buttonsToolTipFontColor:"#5a5a5a",
					//logo settings
					showLogo:"yes",
					hideLogoWithController:"yes",
					logoPosition:"topRight",
					logoLink:"http://www.webdesign-flash.ro/",
					logoMargins:5,
					//playlists/categories settings
					usePlaylistsSelectBox:"yes",
					showPlaylistsButtonAndPlaylists:"yes",
					showPlaylistsByDefault:"no",
					thumbnailSelectedType:"opacity",
					startAtPlaylist:0,
					buttonsMargins:0,
					thumbnailMaxWidth:350,
					thumbnailMaxHeight:350,
					horizontalSpaceBetweenThumbnails:40,
					verticalSpaceBetweenThumbnails:40,
					//playlist settings
					showPlaylistButtonAndPlaylist:"yes",
					playlistPosition:"right",
					showPlaylistByDefault:"yes",
					showPlaylistName:"yes",
					showSearchInput:"yes",
					showLoopButton:"yes",
					showShuffleButton:"yes",
					showNextAndPrevButtons:"yes",
					forceDisableDownloadButtonForFolder:"yes",
					addMouseWheelSupport:"yes",
					startAtRandomVideo:"no",
					folderVideoLabel:"VIDEO ",
					playlistRightWidth:310,
					playlistBottomHeight:599,
					startAtVideo:0,
					maxPlaylistItems:50,
					thumbnailWidth:70,
					thumbnailHeight:70,
					spaceBetweenControllerAndPlaylist:2,
					spaceBetweenThumbnails:2,
					scrollbarOffestWidth:8,
					scollbarSpeedSensitivity:.5,
					playlistBackgroundColor:"#000000",
					playlistNameColor:"#FFFFFF",
					thumbnailNormalBackgroundColor:"#1b1b1b",
					thumbnailHoverBackgroundColor:"#313131",
					thumbnailDisabledBackgroundColor:"#272727",
					searchInputBackgroundColor:"#000000",
					searchInputColor:"#999999",
					youtubeAndFolderVideoTitleColor:"#FFFFFF",
					youtubeOwnerColor:"#888888",
					youtubeDescriptionColor:"#888888",
					mainSelectorBackgroundSelectedColor:"#FFFFFF",
					mainSelectorTextNormalColor:"#FFFFFF",
					mainSelectorTextSelectedColor:"#000000",
					mainButtonBackgroundNormalColor:"#212021",
					mainButtonBackgroundSelectedColor:"#FFFFFF",
					mainButtonTextNormalColor:"#FFFFFF",
					mainButtonTextSelectedColor:"#000000",
					//controller settings
					showController:"yes",
					showControllerWhenVideoIsStopped:"yes",
					showNextAndPrevButtonsInController:"no",
					showPlaybackRateButton:"yes",
					showVolumeButton:"yes",
					showTime:"yes",
					showQualityButton:"yes",
					showInfoButton:"yes",
					showDownloadButton:"yes",
					showShareButton:"yes",
					showEmbedButton:"yes",
					showFullScreenButton:"yes",
					disableVideoScrubber:"no",
					repeatBackground:"yes",
					controllerHeight:37,
					controllerHideDelay:3,
					startSpaceBetweenButtons:7,
					spaceBetweenButtons:8,
					scrubbersOffsetWidth:2,
					mainScrubberOffestTop:14,
					timeOffsetLeftWidth:5,
					timeOffsetRightWidth:3,
					timeOffsetTop:0,
					volumeScrubberHeight:80,
					volumeScrubberOfsetHeight:12,
					timeColor:"#888888",
					youtubeQualityButtonNormalColor:"#888888",
					youtubeQualityButtonSelectedColor:"#FFFFFF",
					//subtitle
					subtitlesOffLabel:"Subtitle off",
					//popup add windows
					showPopupAdsCloseButton:"yes",
					//embed window and info window
					embedAndInfoWindowCloseButtonMargins:0,
					borderColor:"#333333",
					mainLabelsColor:"#FFFFFF",
					secondaryLabelsColor:"#a1a1a1",
					shareAndEmbedTextColor:"#5a5a5a",
					inputBackgroundColor:"#000000",
					inputColor:"#FFFFFF",
					//playback rate / speed
					defaultPlaybackRate:1, //0.25, 0.5, 1, 1.25, 1.2, 2
					//cuepoints
					executeCuepointsOnlyOnce:"no",
					//annotations
					showAnnotationsPositionTool:"no",
					//ads
					openNewPageAtTheEndOfTheAds:"no",
					playAdsOnlyOnce:"no",
					adsButtonsPosition:"left",
					skipToVideoText:"You can skip to video in: ",
					skipToVideoButtonText:"Skip Ad",
					adsTextNormalColor:"#888888",
					adsTextSelectedColor:"#FFFFFF",
					adsBorderNormalColor:"#666666",
					adsBorderSelectedColor:"#FFFFFF"
				});
			});
		</script>

    </head>

    <header class="sticky-shrinknav-header">
        <%= link_to image_tag('logo.jpg', size: "200"), root_path %>
        <ul class="menu sticky-shrinknav-menu">
            <li>
                <a href="/news">NEWS</a>
            </li>
            <li>
                <a href="/featured">FEATURED</a>
            </li>
            <li>
                <a href="/trending">TRENDING</a>
            </li>
            <li>
                <a href="/videos">VIDEOS</a>
            </li>
            <li>
                <a href="/riders">RIDERS</a>
            </li>
        </ul>
    </header>
    <hr>

    <body>
        <% if flash[:notice] %>
        <div class='notice'>
            <%= flash[:notice] %>
        </div>
        <% end %>
        <%= yield %>
    </body>

    <footer class="site-footer">
        <div class="row medium-unstack">
            <div class="medium-4 columns">
                <h4 class="site-footer-title">FOLLOW US</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="medium-4 columns">
                <h4 class="site-footer-title">USEFUL LINKS</h4>
            </div>
            <div class="medium-4 columns">
                <%= image_tag('footer-logo.png', size: "180") %>
            </div>
        </div>
    </footer>
</html>
