<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title><%= content_for?(:title) ? yield(:title) : "TFZ" %></title>

      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <header class="sticky-shrinknav-header">
      <%= image_tag('logo.jpg', size: "200") %>
      <ul class="menu sticky-shrinknav-menu">
        <li>
          <a href="#">NEWS</a>
        </li>
        <li>
          <a href="#">FEATURED</a>
        </li>
        <li>
          <a href="#">TRENDING</a>
        </li>
        <li>
          <a href="#">VIDEOS</a>
        </li>
      </ul>
    </header>
    <hr>

    <body>
      <%= yield %>
    </body>

    <footer class="site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <h4 class="site-footer-title">FOLLOW US</h4>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="medium-4 columns">
          <h4 class="site-footer-title">USEFUL LINKS</h4>
        </div>
        <div class="medium-4 columns">
          <%= image_tag('footer-logo.png', size: "180") %>
        </div>
      </div>
    </footer>
</html>
