<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="sticky-shrinknav-header">
      <%= image_tag('logo.jpg', size: "200") %>
    <ul class="menu sticky-shrinknav-menu">
      <li><a href="#">NEWS</a></li>
      <li><a href="#">FEATURED</a></li>
      <li><a href="#">TRENDING</a></li>
      <li><a href="#">VIDEOS</a></li>
    </ul>
    </header>
    <hr>
    <%= yield %>

  </body>
</html>
